@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
    --primary-color: #ccccff;
    --hover-color: #ccffe6;
    --orchid: #ccccff;
    --mint: #ccffe6;
    --cloudy: #bfbfbf;
    --mist: #333333;
    --golden: #ffff66;
}

*{
    box-sizing: border-box
}

body {
    background-color:#f2f2f2 !important
}

html.dark-mode {
    background-color: #000
}
.dark-mode {
    filter: invert(1) hue-rotate(180deg);
    -webkit-filter: invert(1) hue-rotate(180deg);
    -moz-filter: invert(1) hue-rotate(180deg)
}
.inverse-dark {
    filter: invert(1) hue-rotate(180deg);
    -webkit-filter: invert(1) hue-rotate(180deg);
    -moz-filter: invert(1) hue-rotate(180deg)
}
.effect2 {
    position: relative;
    width: 70%;
    background: #fff;
    padding: 5%;
    margin: 10% auto;
    border-bottom: solid 1px #777 !important
}
.effect2:after,
.effect2:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg)
}
.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 44.5%;
    bottom: 46%
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--orchid);
    -webkit-transition: .4s;
    transition: .4s
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}
input:checked+.slider {
    background-color: #000
}
input:focus+.slider {
    box-shadow: 0 0 1px #000
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}
.slider.round {
    border-radius: 34px
}
.slider.round:before {
    border-radius: 50%
}

.gtp {
    position: fixed;
    left: 92%;
    height: 150px;
    top: 82%;
    z-index: 1002;
    cursor: crosshair
}

.Header {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Montserrat, sans-serif
}
.Header h1 {
    color: #000;
    margin: auto;
    text-align: center;
    font-size: 5.5rem;
    position: absolute
}
.Header p {
    margin-top: 50px
}
.line-1 {
    position: relative;
    top: 10%;
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(25, 25, 25, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: "Anonymous Pro", monospace !important
}
.anim-typewriter {
    animation: typewriter 4s steps(27) 1s 1 normal both, blinkTextCursor .5s steps(27) infinite normal
}
@keyframes typewriter {
    from {
        width: 0
    }
    to {
        width: 15em
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(25, 25, 25, .75)
    }
    to {
        border-right-color: transparent
    }
}

.particle {
    position: absolute !;
    margin: 0 !important;
    margin-top: -100vh !important
}

h1 {
    text-shadow: 2px 3px 4px var(--mist);
}

h1:hover {
    color: #ccccff !important;
}

h2 {
    text-shadow: 2px 3px 4px var(--mist);
}

.h4,
h4 {
    font-size: 1rem;
    font-weight: 400;
}
h5 {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    color: #ccffe6 !important;
    text-shadow: 2px 3px 4px var(--mist);
}
h5:hover {
    color: #ccccff !important;
}

.third {
    width: 75%;
    margin: 10% auto;
    align-items: center;
    padding: 3%;
    justify-content: center
}

.project-name {
    text-decoration: none
}
.project-card {
    padding: 15px;
    margin-top: 15px;
    box-shadow: rgba(17, 12, 46, .15) 0 48px 100px 0
}

.project-card h2 {
    color: var(--orchid);
    margin-top: 10px;
    margin-left: 3%;
    font-weight: 500
}

.project-card h2:hover {
    color: var(--mint);
    text-decoration: none
}

.project-card h3 {
    text-align: left;
    font-size: 1rem;
    margin-left: 3%
}

.project-card h4 {
    color: #ccffe6;
    text-shadow: 2px 3px 4px var(--mist);
    margin-top: 10px;
    margin-left: 3%;
    font-weight: 500;
}

.project-card h4:hover {
    color: #ccccff;
}

.image-project {
    height: 300px;
    width: auto;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer !important
}

.img-pro {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.image-project:hover .img-pro {
    transform: scale(1.2)
}

.pp-head {
    text-align: center
}
.pp-head-line {
    box-sizing: border-box;
    width: 30%;
    padding-bottom: 5px;
    border-bottom: solid 2px var(--orchid);
    margin-bottom: 15px
}
.pp-text {
    font-size: 1.5rem
}

a {
    color: transparent !important;
}

.lead {
    font-weight: 400 !important;
}
.about-text {
    width: 80%;
    padding: 2%
}

.see {
    background-color: var(--orchid);
    color: #fff;
    text-shadow: 2px 3px 4px var(--mist);
    border: transparent;
    position: absolute;
    padding: 5px 15px;
    padding-bottom: 7px;
    border-radius: 3px;
    left: 44%;
    top: 90%
}
.see:hover {
    background-color: var(--hover-color)
}
.fa-eye {
    color: #fff !important;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 7px
}

.skill__square {
    display: inline;
    margin: 15px 0 !important
}
.skill__square i {
    font-size: 50px !important;
    color: var(--orchid) !important;
    height: 20px
}
.skill__square h6 {
    text-align: center;
    margin: auto;
    font-size: 1em;
    padding-top: 5px
}
.skill__square i:hover {
    color: var(--mint) !important;
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.git-form {
    width: 1160px;
    box-sizing: border-box;
    display: block;
    margin: 3rem 3rem 0 3rem;
    background-color: #fff;
    max-height: 80vh
}
.git-head-div {
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 15px;
    width: 30%;
    border-bottom: 3px solid #000;
    color: #000;
    font-weight: 500;
    text-align: center
}

#myFab {
    vertical-align: 0%;
    padding: 0px 10px 0px;
    height: 5px;
    font-size: 23px;
}
.fab {
    vertical-align: bottom;
    padding: 10px;
    font-size: 30px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 2px 3px 4px var(--mist);
    transition: .5;
}
.fab:hover {
    color: var(--hover-color);
}
.fas {
    vertical-align: bottom;
    padding: 10px;
    font-size: 30px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 2px 3px 4px var(--mist);

    transition: .5;
}
.fas:hover {
    color: var(--hover-color);
}

a:hover,
a:active,
a:focus {
    text-decoration-line: none;
}

.myPic {
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    box-shadow: 5px 3px 7px 4px #8c8c8c;
}
.myPic:hover {
    box-shadow: 5px 3px 7px 4px #ccffe6;

}
.myPic.inverse-dark {
    background-color: #000
}

.Copy {
    color: #fff !important;
    font-weight: 500;
    padding-top: 2%
}

::-moz-selection {
    color: #fff;
    background: var(--orchid)
}
::selection {
    color: #fff;
    background: var(--orchid)
}

@media (max-width:1300px) {
    .effect2 {
        width: 100%
    }
}

@media (max-width:800px) {
    .lead {
        font-weight: 300
    }
    .Header h1 {
        font-size: 2.5rem
    }
    .line-1 {
        font-size: 80%;
        top: 5.5%
    }
    .about-text {
        width: 100%;
        text-align: center
    }
    .effect2 {
        width: 100%
    }
    .skills {
        padding: 10% 5%
    }
    .third {
        width: 100%;
        padding: 5%
    }
    .project-card {
        width: 100% !important
    }
    .image-project {
        width: 100% !important
    }
    .pp-head-line {
        width: 70%
    }
    .git-form {
        width: 90%;
        padding: 5px;
        padding-bottom: 35px
    }
    .git-head-div {
        width: 75%
    }

    .switch {
        bottom: 48%;
        left: 35%
    }
    .gtp {
        left: 80%;
        top: 87%;
        height: 75px
    }
    .Copy {
        display: none
    }
    .see {
        left: 18%;
        font-size: 1rem
    }
    .fa-eye {
        font-size: 20px
    }
}
@media (max-width:320px) {
    .profile {
        width: 250px;
    }   
}