@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
:root {
    --primary-color:  #ccccff;
    --hover-color:  #ccffe6;
}

.h4, h4 {
    font-size: 1rem;
    font-weight:400;
}

.project-card h4 {
    color: var(--primary-color);
    margin-top: 10px;
    margin-left: 3%;
    font-weight: 400;
}

.project-card h4:hover {
    color: var(--hover-color);
    margin-top: 10px;
    margin-left: 3%;
    font-weight: 400;
}

.fab {
    vertical-align: bottom;
    padding: 10px;
    font-size: 30px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: .5;
}
.fab:hover {
    color: var(--hover-color);
}

.fas {
    vertical-align: bottom;
    padding: 10px;
    font-size: 30px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: .5;
}
.fas:hover {
    color: var(--hover-color);
}
